

h1{
    color: gold;
    text-align: center;
    font-size: 60px;
    border: 4px inset darkred;
    width: 50%;
    margin: 30px auto;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
}

h2{
    margin: 50px 30px;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 2px solid rgb(217, 217, 217);
}

header nav a{
    text-decoration: none;
    font-size: 20px;
    color: black;   
}

header nav a:hover{
    text-decoration: underline;
    font-size: 21px;
    color: rgb(86, 0, 0);
    font-weight: bold;
    
}

section .article{
    display: flex;

}

article {
    width: 35%;
}

#stories-article {
    text-align: center;
    margin: 0px;
    width: 100%;
}

#stories-section{
    display: flex;
    flex-wrap: wrap;
}

#stories-section h2 {
    width: 100%;
    text-align: center;
}

#stories-section a {
    text-decoration: none;
    color: black;
    width: 45%;
    margin: 20px auto;
}

#stories-article img {
    width: 100%;
    height: 450px;

}


#story-section{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    background-color: black;
}

#story-section h2 {
    color: goldenrod;
    text-align: center;
    font-size: 30px;
    border: 5px inset lightgoldenrodyellow;
    padding: 20px;
}

#story-section article {
    width: 55%;
    margin-right: 20px;
}

#story-section article h3 {
    text-align: center;
    color: goldenrod;
}

#story-section img{
    width: 100%;
    
}
#commentaire {
    width: 30%;

}

#commentaire dl dt{
    color: rgb(225, 225, 225);  
}

#commentaire dd{
    color: whitesmoke;
    font-size: 17px;
    margin-top: 7px;
    font-weight: bold;
}



form textarea {
    margin-top: 10px;
}

#sendbtn {
    color: gold;
    background-color: black;
    border: 3px outset rgb(106, 106, 106);
}